body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 80%;
    margin: 40px auto;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    width: 100px;
    height: 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}

#nao {
    background-color: #e74c3c;
}

#nao:hover {
    background-color: #c0392b;
}

#resposta {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}